/*------------------------------------------------*/
/*------------------[COVER]-----------------------*/
/*------------------------------------------------*/

.PrimalCover {

	.PrimalCover-contenido {
		padding: 2rem 0;
		text-align: center;

		.PrimalCover-imagen {
			display: inline-block;
			vertical-align: top;

			@media (max-width: $tablet-width) {
				float: none;
				width: 90%;
				padding: 0;
				margin: 0 5% 2rem;
				text-align: center;
			}

			img {
				width: auto;
			}

		}

		.PrimalCover-titulos {
			display: inline-block;
			width: 50%;
			padding-top: 3.5rem;
			padding-left: 3rem;
			color: #1A1A1A;
			text-align: left;
			position: relative;

			@media (max-width: $tablet-width) {
				float: none;
				width: 90%;
				padding: 0;
				margin: 0 5% 2rem;
				text-align: center;
			}
			.PrimalCover-titulo {
				font-size: 2.6rem;
				color: #476c22;
				font-family: $m-bold;
				margin-bottom: 2rem;
			}

			.PrimalCover-subtitulo {
				font-size: 1.5rem;
				line-height: 1.2;

				p {

					strong {
						font-family: $m-bold;
						font-weight: normal;
					}
				}
			}

			.PrimalCover-zelda {
				color: #476c22;
				font-size: 1rem;
				text-decoration: underline;
				position: absolute;
				right: 0;
				bottom: -4rem;

				@media (max-width: $tablet-width) {
					position: relative;
				}
			}
		}
	}
}

/*Nutrientes*/
.Nutrientes {
	background: #70AD38;

	.PrimalCover-contenidoTitulo {
		color: white;
		margin-bottom: 4rem;
	}

	.Nutrientes-imagen {
		display: inline-block;
		vertical-align: top;
		
		img {
			width: auto;
		}
	}

	.Nutrientes-titulos {
		display: inline-block;
		width: 65%;
		color: #1A1A1A;
		text-align: left;
		position: relative;

		@media (max-width: $tablet-width) {
			width: 96%;
			text-align: center;
		}

		div {
			margin-bottom: 1rem;

			span {
				color: white;
				font-size: 3.34rem;
				display: inline-block;
				width: 11%;
				text-align: right;
				padding-right: 1rem;
				/*vertical-align: middle;*/
				@media (max-width: $tablet-width) {
					display: block;
					margin: 0 auto;
					margin-bottom: 1rem;
				}
			}

			.Nutrientes-subtitulo {
				color: #f0ff00;
				font-size: 1.72rem;
				margin: 0;
				display: inline-block;
				width: 88%;
			}
		}

		.Nutrientes-titulosZelda {
			margin-top: 1rem;
			font-size: 1.7rem;
			color: white;
			padding-left: 11%;

			@media (max-width: $tablet-width) {
				padding: 0;
			}
		}
	}
}
