.PrimalSlider {
	/*height: 100vh;*/
	background: #105200;

	&.tiny {
		padding-top: 200px;
	}

	.PrimalSlider-contenido {
		border: none;
		margin: 0;
		overflow: hidden;

		.PrimalSlider-slide {
			position: relative;

			.PrimalSlider-slideImagen {
				/*width: 100%;*/
				/*height: 100vh;*/
			}

			.PrimalSlider-slideCaption {
				text-align: center;
				color: white;
				position: absolute;
				right: 0;
				left: 0;
				top: 15%;
				@media (max-width: $desktop-width) {
					padding-bottom: 3rem;
				}
				@media (max-width: $smaller-width) {
					padding: 0;
					height: 100%;
				}

				.Primalslider-slideImg {
					width: auto;
					display: inline-block;
					vertical-align: top;
				}

				.PrimalSlider-slideTitles {
					display: inline-block;
					width: 35%;
					text-align: left;
					position: relative;

					.PrimalSlider-slideTitulo {
						font-size: 7.6rem;
						font-family: $m-hairline;
						color: #ff9900;
						margin: 0;
						@media (max-width: $desktop-width) {
							font-size: 3rem;
						}
						@media (max-width: $tablet-width) {
							font-size: 2rem;
						}
					}

					.PrimalSlider-slideSubtitulo {
						margin: 0;
						padding: 0;
						font-size: 3.55rem;
						margin-bottom: 2.5rem;
						@media (max-width: $desktop-width) {
							font-size: 1.5rem;
						}
						@media (max-width: $tablet-width) {
							font-size: 1rem;
						}
					}

					.PrimalSlider-slideTexto {
						text-decoration: underline;
						font-size: 1.77rem;
						color: #ff9900;
					}

					.PrimalSlider-slideBoton {
						border: 3px #fff solid;
						font-size: 1.96rem;
						color: white;
						border-radius: 7px;
						text-shadow: none;
						position: absolute;
						bottom: -4rem;
						right: -4rem;
						padding: .5rem .8rem .7rem;
						@include transicion ();

/*						&:hover {
							background: #00BBE7;
							color: white;
							border: 2px #00BBE7 solid;
						}*/
					}
				}


			}
		}


		.flex-control-nav {
			bottom: 1rem;
			@media (max-width: $desktop-width) {
				bottom: 0;
			}
			@media (max-width: $smaller-width) {
				display: none;
			}
			
			a {
				width: 25px;
				height: 25px;
				border: 2px white solid;
			}

			.flex-active {
				background: white;
			}
		}

		.flex-direction-nav {
			
			a {
				font-size: 0;
				display: block;
				height: 100%;
				top: 0;
				width: 80px;
			}

			.flex-prev {
				left: 0 !important;
				background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, transparent 100%);
				background-repeat: repeat-x;
			}

			.flex-next {
				right: 0 !important;
				background-image: linear-gradient(to right, transparent 0px, rgba(0, 0, 0, 0.5) 100%);
				background-repeat: repeat-x;
			}
		}
	}
}

