/*------------------------------------------------*/
/*------------------[BLOCKS]----------------------*/
/*------------------------------------------------*/

.PrimalTestimony {
	padding-top: 3rem;
	margin-bottom: 3rem;
	
	.PrimalTestimony-contenido {
		// Responsive
		@media (max-width: $desktop-width) {
			padding: 1.5rem;
		}
		.PrimalTestimony-titulo {
			text-align: center;
			color: #FF9A00;
			margin-bottom: 3rem;
		}

		.PrimalTestimony-block {
			display: block;
			position: relative;
			display: inline-block;
			width: 49%;
			vertical-align: top;
			
			// Responsive
			@media (max-width: $tablet-width) {
				width: 100%;
				margin: 0 0 3rem;
			}
			.PrimalTestimony-blockFigure {
				display: inline-block;
				width: 29%;
				vertical-align: top;

				@media (max-width: $smaller-width) {
					width: 50%;
					display: block;
					margin: 0 auto;
				}
			}

			.PrimalTestimony-blockComment {
				display: inline-block;
				width: 70%;

				@media (max-width: $tablet-width) {
					width: 96%;
					display: block;
					margin: 0 auto;
					text-align: center;
				}

				.PrimalTestimony-blockCita {
					border: none;
					font-family: $m-light;
					font-size: 1.1rem;
					margin: 0;
				}

				.PrimalTestimony-blockAuthor {
					color: #939393;
					font-family: $m-light;
					font-size: 1.1rem;
					padding: 10px 20px;
					margin: 0;
				}

			}

			.PrimalTestimony-blockMeta {
			}
		}
	}
}

